name: Deploy latest

on: [push]

jobs:
    deploy:
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        steps:
            - name: Deploy latest ${{ github.event.repository.name }}
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.KEY }}
                  script_stop: true
                  script: ./deploy.sh ${{ github.event.repository.name }}
